@import url('https://googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body{
    background-color: #e4e4e7;
}
h1{
    text-align: center;
}
.main{
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    margin-top: 20px;
}