@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body{
    background-color: #e4e4e7;
    max-width: 1260px;
    margin: auto;
}
h1{
    text-align: center;
}
.main{
    max-width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
.favorites{
    width: 300px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
#favorite-list{
    list-style: none;
    margin: 0;
    padding: 0;
}
#favorite-list li{
    padding: 5px;
    cursor: pointer;
    border-bottom: 1px solid gray;
}
#modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.441);
    display: none;
}
.modal-content{
    background-color: white;
    padding: 20px;
    width: 600px;
    margin: 50px auto;
    border-radius: 5%;
}
#close-btn{
    margin-bottom: 20px;
}
.img-favorite{
    width: 30px;
}
.crypto-desc{
    max-height: 150px;
    overflow-y: auto;
    font-size: 14px;
}
.btn{
    margin-top: 10px;
}
.search-box{
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#search-crypto{
    margin-left: 40%;
    width: 80%;
}