@import url('https://googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body{
    background-color: #e4e4e7;
}
h1{
    text-align: center;
}
.main{
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    margin-top: 20px;
}
.favorites{
    width: 300px;
    background-color: white;
    padding: 10px;
}
#favorite-list{
    list-style: none;
    margin: 0;
    padding: 0;
}
#favorite-list li{
    padding: 5px;
    cursor: pointer;
    border-bottom: 1px solid gray;
}
#modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.441);
    display: none;
}
